

body {
    font-family: 'Montserrat', sans-serif; 
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 34px;
}
.header {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 27px;
}
.main {
    display: block; 
}
.header-item {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    gap: 25px;
}
.header-nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
    gap: 54px;
    padding-right: 258px;
    padding-top: 6px;
}
.header-nav a {
    color: #2B3541;
    text-decoration: none;
}
.header-item a {
    display: block;
    background-image: url(images/IN.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    transform: scale(1);
    opacity: 0.8;
}
.header-item a:hover {
   transform: scale(1.2);
   opacity: 1;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 97px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -6px;
}
.container {
    display: flex;
    position: relative;
    max-width: 1170px;
    height: 852px;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 116px;
}
.content {
    max-width: 676px;
}
.visual-girl {
    position: absolute;
    width: 996px;
    height: 930px;
    margin-top: 38px;
    margin-left: 328px; 
}
.visual {
    flex: 1;
    max-width: 464px;
    opacity: 0.20000000298023224;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%); 
}
.rectangle {
    opacity: 0.20000000298023224;
    background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 100%);    
}
.content-title {
    color: var(--dark, #2B3541);
    font-size: 48px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.44px;
    margin-top: 229px;
}

.promo {
    color: #2B3541;
    font-size: 40px;
    font-weight: 400;
    margin-top: 48px;
    margin-left: 13px;
}
.content-link {
    color: var(--dark, #2B3541);
    text-decoration: none;
    font-size: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    background: #FBF138;
    display: inline-flex;
    height: 27px;
    padding: 20px 30px;
    align-items: center; 
    margin-top: 21px; 
}
.section {
    margin-left: 93px;
    margin-top: -18px;
}
p {
    display: flex;
    width: 297px;
    height: 49px;
    flex-direction: column;
}
.content-text  {
    color: var(--dark, #2B3541);
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.scroll-button {
    position: absolute;
    left: 0;
    bottom: 0;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    text-align: center;
    margin-bottom: 50px;
}
.menu-header  {
    color: var(--dark, #2B3541);
    font-style: normal;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 125%;
    font-size: 27px;
    margin-bottom: 49px;
}
.menu-grid-cover  {
    position: relative;
}
.menu-grid-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--yellow, #FBF138);
    width: 126.111px;
    height: 47px; 
    border: none;  
    
}